@page "/"
@inject IJSRuntime JS
<!-- This page is intended for conversational Q&A. -->

<PageTitle>Chat</PageTitle>
<!-- Top Section (Fixed Height) -->
<div class="header" style="background-color: @Color.Primary"></div>

<!-- Middle Section (Fills Remaining Space) -->
<div class="content" id="answerSection" style="background-color: @Color.Primary">
    <MudGrid Justify="Justify.Center">
        <MudItem id="answers" xs="12" Class="overflow-x-auto">
            @if (_questionAndAnswerMap is { Count: 0 })
            {
                <div class="d-flex align-content-center flex-wrap flex-grow-1 full-height">
                    <Examples Profile=@_selectedProfileSummary Message="@AppConfiguration.HelloText" OnExampleClicked="@OnAskQuestionAsync" />
                </div>
            }
            else
            {
                <MudStack Reverse="@IsReversed" Spacing="12">
                    @foreach (var ((question, askedOn), answer) in _questionAndAnswerMap)
                    {
                        <MudStack Justify="Justify.Center" AlignItems="AlignItems.Start" Spacing="4">
                            <MudBadge Origin="Origin.TopLeft" Overlap="true" Color="Color.Secondary" Icon="@Icons.Material.Filled.QuestionMark" Class="d-flex align-self-end">
                                <MudPaper Class="pa-6 d-flex flex-column" Elevation="3">
                                    <MudText Typo="Typo.body1" Align="Align.End">@question</MudText>
                                    <MudText Typo="Typo.caption" Align="Align.End" Color="Color.Secondary">
                                        @($"Asked at {askedOn:h:mm:ss tt} on {askedOn:M/dd/yy}")
                                    </MudText>
                                </MudPaper>
                            </MudBadge>
                            <div class="ten-twelves">
                                @if (answer is null)
                                {
                                    <MudBadge Origin="Origin.TopLeft" Overlap="true" Color="Color.Secondary" Icon="@Icons.Material.Filled.Lightbulb" Class="full-width">
                                        <MudPaper Class="pa-6" Elevation="3">
                                            <Loading />
                                        </MudPaper>
                                    </MudBadge>
                                }
                                else if (answer is { Error.Length: > 0 })
                                {
                                    <MudBadge Origin="Origin.TopLeft" Overlap="true" Color="Color.Error" Icon="@Icons.Material.Filled.Error">
                                        <AnswerError Error="@answer" Question="@question" OnRetryClicked="@OnRetryQuestionAsync" />
                                    </MudBadge>
                                }
                                else
                                {
                                    <MudBadge Origin="Origin.TopLeft" Overlap="true" Color="Color.Secondary" Icon="@Icons.Material.Filled.AutoAwesome">
                                        <Answer Retort="@answer" FollowupQuestionClicked="@OnAskQuestionAsync" />
                                    </MudBadge>
                                }
                            </div>
                        </MudStack>
                    }
                </MudStack>
            }
        </MudItem>
    </MudGrid>
</div>

<!-- Bottom Section (Fixed Height) -->
<div class="footer" >
    <MudGrid Justify="Justify.Center">
        <MudItem xs="12" Class="rounded">
            <MudGrid>
                <MudItem xs="12" lg="12">
                    <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
                        @if (_showProfiles)
                        {
                            <MudMenu Class="" Label="@_selectedProfile" Color="Color.Primary" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" FullWidth="true">
                                <ActivatorContent>
                                    <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Category" EndIcon="@Icons.Material.Filled.KeyboardArrowDown">@_selectedProfile</MudButton>
                                </ActivatorContent>
                                <ChildContent>
                                    @foreach (var profile in _profiles)
                                    {
                                        <MudMenuItem OnClick="@(e => OnProfileClick(@profile.Name))">@profile.Name</MudMenuItem>
                                    }
                                </ChildContent>
                            </MudMenu>
                        }

                        @if (_showDocumentUpload)
                        {
                            <MudMenu>
                                <ActivatorContent>
                                    <MudButton Style="height: 36px" StartIcon="@Icons.Material.Filled.UploadFile" EndIcon="@Icons.Material.Filled.KeyboardArrowDown">@_selectedDocument</MudButton>
                                </ActivatorContent>
                                <ChildContent>
                                    <MudMenuItem Color="Color.Primary" Href="/documents">Upload File</MudMenuItem>
                                    <MudTable Style="padding: 10px;" T="DocumentSummary" Items="@_userDocuments" MultiSelection="true" @bind-SelectedItems="SelectedDocuments">
                                        <RowTemplate>
                                            <MudTd DataLabel="Nr">@context.Name</MudTd>
                                        </RowTemplate>
                                    </MudTable>
                                </ChildContent>
                            </MudMenu>
                        }



                     </MudButtonGroup>
 @*                    @if (!string.IsNullOrEmpty(_imageFileName))
                    {
                        @if (_imageFileName.Contains(".pdf"))
                        {
                            <MudChip T="string" Icon="@Icons.Material.Filled.PictureAsPdf" IconColor="Color.Primary">@_imageFileName</MudChip>
                        }

                        @if (_imageFileName.Contains(".csv") || _imageFileName.Contains(".txt") || _imageFileName.Contains(".xml"))
                        {
                            <MudChip T="string" Icon="@Icons.Material.Filled.InsertDriveFile" IconColor="Color.Primary">@_imageFileName</MudChip>
                        }
                    }  *@
                </MudItem>
                <MudItem xs="12" lg="12">
                    <TextInputV3 Label="Prompt"
                                 Placeholder="Enter your message..."
                                 Disabled=@_isReceivingResponse
                                 OnEnterKeyPressed="OnAskQuestionAsync"
                                 OnResetPressed="OnClearChat" 
                                 OnFileUpload="OnFileUpload"
                                 OnModelSelection="OnModelSelection"
                                 SupportsFileUpload=@_supportsFileUpload />
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
</div>

<style>

    .header {
        background: #fff;
        text-align: center;
        position: fixed;
        width: 100%;
        top: 70px;
        height: 5px;
    }

    .footer {
        padding: 10px 0;
        position: fixed;
        width: calc(100% - 300px);
        bottom: 15px;
    }

    .content {
        overflow-y: auto;
        padding: 15px;
        background: #fff;
        margin-top: 0px;
        margin-bottom: 175px;
        height: calc(100% - 150px); 
    }
</style>