<MudPaper Elevation="25" Class="pl-4 pt-4 pr-4 pb-0" Style="">
    <MudStack>
        @if (_files.Any())
        {
            <MudStack Row="true">
                @foreach (var file in _files)
                {
                    if (file.ContentType == "image/jpeg" || file.ContentType == "image/png")
                    {
                        <MudImage Src="@file.DataUrl" Alt="Image" Elevation="5" Width="75" Height="50" Class="rounded-lg ma-4" />
                    }

                    @if (file.ContentType == "application/pdf")
                    {
                        <MudChip T="string" Icon="@Icons.Material.Filled.PictureAsPdf" IconColor="Color.Primary">@file.FileName</MudChip>
                    }

                    @if (file.ContentType == "text/plain" || file.ContentType == "text/csv" || file.ContentType == "text/richtext" || file.ContentType == "text/markdown" || file.ContentType == "text/xml")
                    {
                        <MudChip T="string" Icon="@Icons.Material.Filled.InsertDriveFile" IconColor="Color.Primary">@file.FileName</MudChip>
                    }

                    @if(file.ContentType == "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" || file.ContentType == "application/vnd.ms-excel")
                    {
                        <MudChip T="string" Icon="@Icons.Material.Filled.TableChart" IconColor="Color.Primary">@file.FileName</MudChip>
                    }
                }
            </MudStack>
        }

        <MudTextField T="string"
                      AutoFocus="true"
                      Immediate=true 
                      MaxLines=5 Disabled=@Disabled 
                      AutoGrow="true"
                      Placeholder="Enter your message..." Class="pl-2" OnKeyUp="@OnKeyUpAsync" @bind-Value="@UserQuestion" />
    
        <MudToolBar Gutters="false" Class="mt-n4 pb-0">
            @if (SupportsFileUpload)
            {
                 <MudFileUpload T="IBrowserFile" FilesChanged="UploadFilesAsync" Style="margin-top: 0px">
                    <ActivatorContent>
                        <MudIconButton Style="color: #616161" Class="pa-2" Size="Size.Small" HtmlTag="label"  Icon="@Icons.Material.Filled.AttachFile"></MudIconButton>
                    </ActivatorContent>
                </MudFileUpload>
            }
            @if (AppConfiguration.ShowPremiumAOAIToggleSelection)
            {
                <MudToggleIconButton Class="pa-2" Icon="@Icons.Material.Filled.ToggleOff" Color="@Color.Default" ToggledIcon="@Icons.Material.Filled.ToggleOn" ToggledColor="@Color.Success" Disabled=@Disabled ToggledChanged="OnModelSelectionAsync" />

                <span>GPT-4</span>
            }
            <MudSpacer />
            <MudIconButton Style="color: #616161" Class="pa-2" Size="Size.Small" Icon=@Icons.Material.Filled.Cancel ButtonType="ButtonType.Reset" OnClick="@OnClearChatAsync" Disabled=@Disabled />
            <MudIconButton Class="pa-2" Size="Size.Small" Icon=@Icons.Material.Outlined.Send Color="Color.Secondary" OnClick="OnAskClickedAsync" Disabled=@Disabled></MudIconButton>
        </MudToolBar>
    </MudStack>
</MudPaper>